@import "styles/variables.scss";

.reservations-table {
  border-collapse : collapse;
  border-spacing  : 0;
  padding         : 58px;
  width           : 100%;

  &__header {
    color          : $blue;
    font-size      : 14px;
    height         : 40px;
    text-transform : uppercase;
    border-bottom  : 1px solid $blue;
    padding-bottom : 13px;

    &-td {
      min-width : 20%;
    }
  }
  &__body {
    color     : $gray;
    font-size : 14px;

    &-tr {
      border-bottom : 1px dotted $gray;
    }
    &-td {
      min-width   : 20%;
      height      : 70px;
      line-height : 70px;
    }
  }
}
