
$beige: #e8cfc1;
$beige-dark: #e6cec1;
$blue: #636589;
$purple: #7b69b3;

$gray: #979797;
$light-gray: #f0f0f0;
$medium-gray: #cccccc;

$metalic: #5d5e75;
$metalic-dark: #5d5e75;

$success: #88dca5;
$error: #f07b7b;
