
.nav {
  position : relative;

  &__container {
    text-align : center;
  }
  &__logo {
    margin         : 0 auto;
    vertical-align : middle;
  }
  &__right {
    color       : #fff;
    font-size   : 15px;
    position    : absolute;
    right       : 28px;
    top         : 17px;
    line-height : 20px;
  }
}
