@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/bulma";
@import "styles/mixins.scss";

body {
  @include regular();
}

main {
  height : 100vh;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  outline    : none;
  box-shadow : none;
}
